$primary: #ff6e6c;
$secondary: #67568c;
$background: #FFFFFF;
$primary-text: #1f1235;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    background: $background,
    primary-text: $primary-text
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');